# problem statement

Predict price of car based on multiple attributes of car like mileage, number of doors, cylinders etc.

In [1]:
import pandas as pd

df = pd.read_excel('../datasets/002_multiple_linear_regression/cars.xls')
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [2]:
# Prepare x and y
x = df[['Mileage', 'Cylinder', 'Doors']]
y = df[['Price']]
print(x)
print(y)

     Mileage  Cylinder  Doors
0       8221         6      4
1       9135         6      4
2      13196         6      4
3      16342         6      4
4      19832         6      4
5      22236         6      4
6      22576         6      4
7      22964         6      4
8      24021         6      4
9      27325         6      4
10     10237         6      4
11     15066         6      4
12     16633         6      4
13     19800         6      4
14     23359         6      4
15     23765         6      4
16     24008         6      4
17     26034         6      4
18     32896         6      4
19     34665         6      4
20      8970         6      4
21     10577         6      4
22     14363         6      4
23     16508         6      4
24     18908         6      4
25     19467         6      4
26     21394         6      4
27     22596         6      4
28     24469         6      4
29     25245         6      4
..       ...       ...    ...
774    18511         4      4
775    19101         4      4
776    19500         4      4
777    19853         4      4
778    21770         4      4
779    21877         4      4
780    22758         4      4
781    22826         4      4
782    23388         4      4
783    24069         4      4
784    24664         4      4
785    24740         4      4
786    26328         4      4
787    28298         4      4
788    28398         4      4
789    29707         4      4
790    32458         4      4
791    32619         4      4
792    33962         4      4
793    34998         4      4
794     5826         6      4
795     7755         6      4
796    10102         6      4
797    10986         6      4
798    14242         6      4
799    16229         6      4
800    19095         6      4
801    20484         6      4
802    25979         6      4
803    35662         6      4

[804 rows x 3 columns]
            Price
0    17314.103129
1    17542.036083
2    16218.847862
3    16336.913140
4    16339.170324
5    15709.052821
6    15230.003390
7    15048.042184
8    14862.093870
9    15295.018267
10   21335.852485
11   20538.087510
12   20512.094091
13   19924.159052
14   19774.249066
15   19344.165537
16   19105.130124
17   18543.427045
18   17808.198996
19   17968.838278
20   22358.877678
21   23785.922526
22   22926.090371
23   21895.758784
24   21273.061714
25   21460.013953
26   21183.123587
27   20406.099503
28   21058.139580
29   19556.899320
..            ...
774  14568.002255
775  13122.905457
776  13494.288783
777  12036.216751
778  12162.140047
779  12333.603993
780  12099.014578
781  12119.089702
782  11679.923546
783  13216.912048
784  12412.521107
785  12284.288290
786  12594.183013
787  12105.981336
788  11873.533995
789  12965.223269
790  10563.066162
791  11413.530403
792  11504.824550
793  11521.525888
794  18173.978084
795  18490.983029
796  17322.078404
797  17978.356998
798  16425.174796
799  16507.070267
800  16175.957604
801  15731.132897
802  15118.893228
803  13585.636802

[804 rows x 1 columns]

In [4]:
# scale values to stay between -1 and 1

import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

x[['Mileage', 'Cylinder', 'Doors']] = scale.fit_transform(x[['Mileage', 'Cylinder', 'Doors']].as_matrix())
print(x)

      Mileage  Cylinder     Doors
0   -1.417485  0.527410  0.556279
1   -1.305902  0.527410  0.556279
2   -0.810128  0.527410  0.556279
3   -0.426058  0.527410  0.556279
4    0.000008  0.527410  0.556279
5    0.293493  0.527410  0.556279
6    0.335001  0.527410  0.556279
7    0.382369  0.527410  0.556279
8    0.511409  0.527410  0.556279
9    0.914768  0.527410  0.556279
10  -1.171368  0.527410  0.556279
11  -0.581834  0.527410  0.556279
12  -0.390532  0.527410  0.556279
13  -0.003899  0.527410  0.556279
14   0.430591  0.527410  0.556279
15   0.480156  0.527410  0.556279
16   0.509822  0.527410  0.556279
17   0.757160  0.527410  0.556279
18   1.594886  0.527410  0.556279
19   1.810849  0.527410  0.556279
20  -1.326046  0.527410  0.556279
21  -1.129860  0.527410  0.556279
22  -0.667658  0.527410  0.556279
23  -0.405792  0.527410  0.556279
24  -0.112796  0.527410  0.556279
25  -0.044552  0.527410  0.556279
26   0.190700  0.527410  0.556279
27   0.337442  0.527410  0.556279
28   0.566102  0.527410  0.556279
29   0.660837  0.527410  0.556279
..        ...       ...       ...
774 -0.161262 -0.914896  0.556279
775 -0.089234 -0.914896  0.556279
776 -0.040523 -0.914896  0.556279
777  0.002572 -0.914896  0.556279
778  0.236603 -0.914896  0.556279
779  0.249666 -0.914896  0.556279
780  0.357220 -0.914896  0.556279
781  0.365521 -0.914896  0.556279
782  0.434131 -0.914896  0.556279
783  0.517269 -0.914896  0.556279
784  0.589908 -0.914896  0.556279
785  0.599186 -0.914896  0.556279
786  0.793052 -0.914896  0.556279
787  1.033554 -0.914896  0.556279
788  1.045762 -0.914896  0.556279
789  1.205567 -0.914896  0.556279
790  1.541414 -0.914896  0.556279
791  1.561070 -0.914896  0.556279
792  1.725026 -0.914896  0.556279
793  1.851502 -0.914896  0.556279
794 -1.709871  0.527410  0.556279
795 -1.474375  0.527410  0.556279
796 -1.187849  0.527410  0.556279
797 -1.079929  0.527410  0.556279
798 -0.682430  0.527410  0.556279
799 -0.439853  0.527410  0.556279
800 -0.089966  0.527410  0.556279
801  0.079605  0.527410  0.556279
802  0.750446  0.527410  0.556279
803  1.932565  0.527410  0.556279

[804 rows x 3 columns]

/home/manohar/.local/share/canopy/edm/envs/User/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)
/home/manohar/.local/share/canopy/edm/envs/User/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/manohar/.local/share/canopy/edm/envs/User/lib/python3.5/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [8]:
# split data to train and test frames

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

643
643
161
161

In [9]:
# train the model
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
# test your model by predicting prices for x_test and comparing with y_test
y_predict = regressor.predict(x_test)
print(y_test)
print(y_predict)

            Price
8    14862.093870
575  16256.236168
616  15802.652861
142  45061.951935
236  12425.389171
664  25618.281885
608  15174.346613
739  26012.374625
710  33005.779958
150  70755.466717
758  13811.155022
466  20839.149965
14   19774.249066
691  32746.131387
741  25959.122030
576  15724.252170
667  24852.495281
504  22004.930438
465  20676.165511
626  14398.922693
204  10354.043852
293  13106.900424
517  19204.809341
55   21562.047578
27   20406.099503
499  17768.059505
726  26698.078151
457  16345.943747
490  19682.035011
162  11472.022761
..            ...
800  16175.957604
250  15053.933735
662  27284.751328
239  12234.888053
654  30731.941655
351  39713.667922
695  29844.204004
2    16218.847862
796  17322.078404
344  41371.379273
156  60567.549093
535  15595.884133
752  13991.040057
742  23274.480711
402  17458.221529
612  15977.911084
403  17158.921998
727  27241.436178
312  15128.992236
266  13308.833749
422  17316.096603
636  33287.409599
71   26060.335350
49   17645.745044
252  14642.323577
524  18548.978593
116  36332.894685
37   21683.031464
453  18040.144006
48   17394.021398

[161 rows x 1 columns]
[[ 23083.4715442 ]
 [ 23291.75744928]
 [ 15042.49966925]
 [ 33043.56326137]
 [ 17984.14714297]
 [ 15231.07065124]
 [ 14075.41496833]
 [ 13114.95207364]
 [ 17307.75938265]
 [ 38175.82463278]
 [ 17462.67990228]
 [ 26503.5445181 ]
 [ 23183.09962885]
 [ 17079.75855447]
 [ 15648.99692178]
 [ 23088.28740327]
 [ 14838.87912765]
 [ 24363.43658953]
 [ 27125.24182584]
 [ 15008.33716893]
 [ 16086.9391066 ]
 [ 18113.72385126]
 [ 22713.85436003]
 [ 23121.69742562]
 [ 23297.92776872]
 [ 22426.70876256]
 [ 14802.60968897]
 [ 25934.82166022]
 [ 24959.70014152]
 [ 15307.67290969]
 [ 14500.11354069]
 [ 15410.76239306]
 [ 31607.53428281]
 [ 16001.75859918]
 [ 26416.70855912]
 [ 24067.86323868]
 [ 25805.18440074]
 [ 28425.67427226]
 [ 33322.58209665]
 [ 24255.2302559 ]
 [ 16593.35678768]
 [ 26558.26436393]
 [ 18219.37175977]
 [ 22831.24092503]
 [ 23757.99280618]
 [ 13846.21017538]
 [ 26248.24343584]
 [ 17379.6063332 ]
 [ 22736.27820386]
 [ 14533.67405864]
 [ 16119.59665097]
 [ 18444.06168483]
 [ 19874.52232633]
 [ 15524.68755935]
 [ 28581.43721428]
 [ 17531.54633414]
 [ 32545.57333368]
 [ 25384.39871388]
 [ 17901.4645095 ]
 [ 19854.95789883]
 [ 16118.5431818 ]
 [ 21110.92576533]
 [ 34677.85549125]
 [ 15976.77633021]
 [ 17690.31918809]
 [ 16765.22275849]
 [ 25821.73891632]
 [ 22974.21174138]
 [ 25890.87694614]
 [ 16070.53508662]
 [ 15046.71354595]
 [ 16276.41306217]
 [ 23869.96152973]
 [ 14380.16855055]
 [ 32949.80450496]
 [ 22744.70595724]
 [ 25323.74898863]
 [ 23497.18393804]
 [ 25032.69050566]
 [ 22867.9618505 ]
 [ 14953.55677192]
 [ 18745.65485954]
 [ 23253.53156786]
 [ 14698.31624084]
 [ 18989.9092121 ]
 [ 17205.12138607]
 [ 18539.4758928 ]
 [ 23658.51521712]
 [ 23615.77446781]
 [ 13555.15169241]
 [ 17854.11894789]
 [ 14105.66458316]
 [ 36847.40000548]
 [ 18763.86482667]
 [ 23436.53421279]
 [ 15053.03436098]
 [ 25819.09054677]
 [ 14850.01580177]
 [ 15125.87422953]
 [ 22526.63783841]
 [ 34475.7399056 ]
 [ 34668.82575548]
 [ 15532.36283475]
 [ 32243.07718539]
 [ 16543.39224975]
 [ 15290.06492494]
 [ 28774.07157737]
 [ 22846.13998905]
 [ 18562.20072782]
 [ 16568.37451872]
 [ 21747.82312828]
 [ 18531.19863501]
 [ 17065.76246402]
 [ 23959.80740063]
 [ 32028.31996967]
 [ 18344.88508696]
 [ 35040.2488868 ]
 [ 24086.97617939]
 [ 24137.09121291]
 [ 15839.82533771]
 [ 22804.60320451]
 [ 35826.58837673]
 [ 14144.04096018]
 [ 22236.48232901]
 [ 26689.40657936]
 [ 23575.59214364]
 [ 20500.88499755]
 [ 15342.88887919]
 [ 25157.90284166]
 [ 23873.57342403]
 [ 22862.54400903]
 [ 23824.81285088]
 [ 20710.97684979]
 [ 16123.05804968]
 [ 16851.51728627]
 [ 18028.09185705]
 [ 36914.06955458]
 [ 14789.36607651]
 [ 24712.58637263]
 [ 25178.21974714]
 [ 35253.65164215]
 [ 34773.11920361]
 [ 27080.99612057]
 [ 18247.66493185]
 [ 15019.17285185]
 [ 24419.42095131]
 [ 15705.88425713]
 [ 23475.3620766 ]
 [ 14780.18584515]
 [ 16191.23255474]
 [ 15255.90242461]
 [ 23749.86604399]
 [ 18151.19725471]
 [ 25224.42189516]
 [ 22510.23381842]
 [ 20474.39777262]
 [ 23557.6831677 ]
 [ 31339.35113046]
 [ 22668.40468999]
 [ 28084.50075576]
 [ 22866.30639894]]

In [12]:
# find summary

est = sm.OLS(y_train, x_train).fit()
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.064
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     14.52
Date:                Sat, 23 Sep 2017   Prob (F-statistic):           3.69e-09
Time:                        18:43:13   Log-Likelihood:                -7362.8
No. Observations:                 643   AIC:                         1.473e+04
Df Residuals:                     640   BIC:                         1.475e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mileage     -518.1991    876.341     -0.591      0.555   -2239.049    1202.651
Cylinder    5818.3471    893.524      6.512      0.000    4063.754    7572.940
Doors       -743.7711    914.146     -0.814      0.416   -2538.859    1051.316
==============================================================================
Omnibus:                      148.576   Durbin-Watson:                   0.243
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              266.385
Skew:                           1.384   Prob(JB):                     1.43e-58
Kurtosis:                       4.512   Cond. No.                         1.07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""